@import url(http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic);

* {
    font-family: 'Arimo', sans-serif;
    font-weight: 300;
}

body {
   font-family: 'Arimo', sans-serif;
   font-weight: 300;
}

a {
	color: #0072B6;
}

.container {
    max-width: 960px !important;
}

.column-header {
	font-size: 35px;
	font-weight: 100 !important;
	color: #0072B6;
}

.photo-offset {
	width: 100%;
	max-width: 100%;
	position: relative;
	top: -80px;
	z-index: -1;
}

.photo-full-size {
	width: 100%;
	max-width: 100%;
}

.container-header {
	z-index: 999;
	background-image: url('../img/transparency.png');
	background-repeat: repeat;
	box-shadow: 0px 2px 2px rgba(200, 200, 200, 0.5);
	position: fixed;
	width: 100%;
	height: 80px;
	transition: all 0.5s ease-in-out;
}

.container-header-bigger {
	height: 80px !important;
}

.container-header-smaller {
	height: 56px !important;
	background-color: white;
	background-image: !important;
}

.top-bar {
	background-image: url('../img/orange-bar.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.top-bar h2 {
	color: white;
	margin: 0px;
	padding-top: 28px;
	padding-bottom: 28px;
}

.top-bar h2 small {
	color: white;
}

.container-hwch-body {
	padding-top: 80px;
}

.logo-img {
	transition: all 0.5s ease-in-out;
}

.bigger-logo {
	height: 70px !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.smaller-logo {
	height: 46px !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.container-menu {
	height: 80px;
	z-index: 100;
}

.menu {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	position: relative;
	right: 20px;
	top: 30px;
	float: right;
	font-family: Helvetica;
	text-transform: uppercase;
	transition: all 0.5s ease-in-out;
}

.menu-smaller {
	top: 20px;
}

.menu-bigger {
	top: 30px;
}

.menu li {
	display: inline;
}

.active-menu-item {
	color: #00A5E3 !important;
}

.menu li a  {
	display: inline-block;
	font-size: 13px;
	color: #0073B6;
	font-weight: 500;
	margin-left: 30px;
	font-weight: 700;
}

.container-menu img {
	height: 70px;
	max-height: 70px;
	margin: 5px 0px 5px 0px;
}

@media all and (min-width: 650px) {
    .menu-mobile { display: none; }
}
        
    @media all and (max-width: 650px) {
        .menu { display: none;  }
        .menu-mobile-button { display: block; }
        .photo-offset {
            top: 80px;
        }
        .text-home-lead-body, .lead, .home-sections, .polish, .home-blueorange-bar, .home-foot, .footer {
            position: relative;
            top: 80px;
        }
    }



.text-home-lead-body {
	font-size: 40px;
	color: #444444;
	font-weight: 200;
    position: relative; 
    top: -30px;
}

.home-blueorange-bar {
	background-image: url('../img/home-blueorange-bar.png');
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
}

.home-foot {
	padding-top: 30px;
	padding-bottom: 30px;
	color: #666666;
}

.home-foot h3 {
	font-weight: 700;
	font-size: 38px;
}

.home-sections p {
	font-size: 20px;
}



.hwch-lead {
	font-size: 35px;
	color: #444444;
	line-height: 45px;
}

.grey-blocks {
	display: table;
}

.grey-blocks .row {
}

.grey-blocks .col-sm-6 {
	display: table-cell;
	min-height: 236px;
}

.bordered-block {
	border: 6px #CCCCCC solid;
	padding: 6px;
	margin: 6px;
	font-size: 20px;
	text-align: center;
	color: #535353;
    min-height: 80px;
}

#mastKeywords, #keywordOne {
    transition: all 2s linear;
}




.results-body-header {
	color: #0071B8;
	font-size: 30px;
	margin-bottom: 2px;
    font-weight: 700;
}

.results-body-paragraph {
	font-size: 25px;
}

.results-menu-container {
	background-image: url('../img/results-bluebar.jpg');
	background-size: cover;
	color: white;
	
}

.results-menu-container-ul {
	margin: 0px;
	padding: 0px;
}

.results-menu-container-ul li {
	display: inline-block;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20px;
	/*transition: all 0.1s linear;*/
}

.results-active {
	font-weight: 700;
	background-image: url(../img/triangle.png);
	background-position: bottom center;
	background-repeat: no-repeat;
}

.results-menu-container-ul li:hover {
	cursor: pointer;
}

#slider-pag-forward:hover, #slider-pag-backward:hover { cursor: pointer; }
#slider-pag-number { color: #0071B8; }

.feature-heading {
	font-size: 16px;
	font-weight: 700;
	color: #444444;
	margin-bottom: 0px;
}

.feature-paragraph {
	font-size: 16px;
	font-weight: 400;
	color: #444444;
}

.feature-list {
	font-size: 16px;
	font-weight: 400;
	color: #444444;
}


.results-quote {
	background-color: #F57D2F;
    background-image: url(../img/quotes.jpg);
    background-position: center center;
    //background-size: contain;
    background-repeat: no-repeat;
	color: white;
}

.results-quote-body {
	font-size: 25px;
	text-align: center;
	font-style: italic;
}

.results-quote-author {
	font-size: 20px;
	text-align: center;
}

.results-quote-title {
	font-size: 20px;
}

.slider-pagination {
	margin-top: 10px;
}





.about-header {
	font-size: 35px;
	color: #0073B6;
}

.about-team-name {
	font-size: 19px;
	color: #0073B6;
}

.about-team-title {
	color: #999999;
	font-size: 16px;
}

.about-team-image {
	background-color: #ebebeb;
	height: 150px;
	width: 100%;
}

.bluebar {
	background-image: url('../img/about-bluebar.jpg');
	background-size: cover;
	height: 50px;
}

.about-greybg {
	background-color: #EEEEEF;
}







label {
	color: #0073B6;
	font-weight: 100;
	font-size: 24px;
}

input {
	border-radius: 0px !important;
}

.contact-sidebar-header {
	font-size: 24px;
	font-weight: 100;
	color: #0072B6;
}

.contact-sidebar-paragraph {
	font-size: 20px;
	color: #666666;
}

.contact-sidebar-place {
	color: #666666;
	font-size: 15px;
	text-transform: uppercase;
}

.contact-sidebar-link {
	color: #0066CC;
	font-size: 13px;
}

.contact-sidebar-hr {
	height: 4px;
	background-color: #ebebeb;
	border-width: 0px;
	border-color: white;
	width: 75%;
}



.footer {
	padding: 20px 0px 20px 0px;
	background-color: #484848;
	color: #AAAAAA;
}

.footer-wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.footer strong {
	color: #AAAAAA;
}

.footer p {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #BBBBBB;
	font-size: 0.9em;
}

.copyright {
	padding-top: 20px;
}

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.cap-subtitle {
    text-align: center;
    font-size: 26px;
}

.core-service-intro {
    color: #00A5E3;
}

.menu-mobile {
    display: none;
    position: fixed;
    top: 0px;
    z-index: 1000;
    background-color: #115E94;
}

.menu-mobile-list {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.menu-mobile-list li {
    padding: 10px;
    
}

.menu-mobile-list li a {
    display: block;
    color: white;
}

.menu-mobile-list li a:hover {
    text-decoration: none;
}

 .menu-mobile {
            display: none;
            margin: 0px;
            padding: 0px;
            width: 100%;
            z-index: 999;
        }
        
        .menu-mobile-table {
            width: 100%;
            background-color: #0072B6;
            color: white;
            margin: 0px;
            padding: 0px;
        }
        
        .menu-mobile-table td {
            width: 50%;
            text-align: center;
            color: white;
        }
        
        .menu-mobile-table td a {
            color: white;
        }

.menu-mobile-button {
    position: relative;
    top: -60px;
    margin-right: 10px;
}

.connect a:hover {
    text-decoration: none;
}

#messageGood, #messageBad {
    display: none;
}

@media all and (min-width: 620px) {
    .menu-mobile, .menu-mobile-button {
        display: none;
    }
}